body{
    justify-content: center;
    display: flex;
    top: 0;
}

main {
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    height: 94vh; /* Full height of the viewport */
    color: white; /* Text color for contrast */
    align-self: center;
    width: 800px;
    margin-top: 20px;
    filter: blur(20%);
    border-radius: 5px;
    box-shadow: 30px 30px #8888887a;
}



div.nama_cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}


button.bukaan:active .main{
    opacity: 0;
}

main:active{
    transform: scale(50%);
}